<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../../css/list.css";
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

    <span>In our database, there is information about the following genres:</span>
<div class="container1">
    <ol>

        <?php foreach ($genres as $g){ ?>
<li><a href="<?php echo $g['genre_id']; ?>">
                <?php echo $g['genre_name']; } ?></a></li>
</ol>
</div>

</body>
</html>
