body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-top: 0;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align:left;
}

input[type="text"],
input[type="number"],
select,
input[type="file"],
input[type="submit"] {
    width: 100%;
    height: 36px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
input[type="file"]:focus,
input[type="submit"]:focus {
    border-color: #66afe9;
    outline: none;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width:80%;
}

input[type="submit"]:hover {
    background-color: #ec971f;
}

.field-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-group label,
.field-group input,
.field-group select {
    width: 80%;
}

.field-group input[type="radio"] {
    width: auto;
    margin-right: 8px;
}

.field-group input[type="radio"] + label {
    margin-right: 16px;
}