body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

article {
    border: 1px solid #000;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 25px;
    padding: 10px;
    width: 50%;
    background-color: #fff;
    border-radius: 8px;
}

button {
    width: 35%;
    background-color: #eaefdd;
    color: white;
    padding: 10px 0;
    margin-left:80px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float:left;
}

article a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

article a:hover {
    color: #45a049;
}

article span {
    float: right;
    color: #888;
}

article p {
    margin: 10px 0;
    color: #333;
}

hr {
    width: 100%;
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    margin-left: 80px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}