<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../../css/list.css";

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>

 
    <span>In our database, there is information about the following countries:</span>
<div class="container1">
    <ol>

        <?php foreach ($countries as $c){ ?>
<li><a href="<?php echo $c['country_id']; ?>">
                <?php echo $c['country_name']; } ?></a></li>
</ol>
</div>

    
</table>
</body>
</html>
